<div id="about">
    <div class="headings inria">About</div>
    <div class="card istok">
        <p>
            Self-motivated engineering student with a strong technical background from IIT(BHU) Varanasi and able to establish rapport quickly.<br>
            I have interned (2022 summer) and currently working as SWE at Microsoft.<br>
        </p>
        <br>
        <p>
            I love SDE roles which offer intellectually challenging tasks for manifesting and augmenting my skills.<br>
            I have excellent communication, management, and analytical skills.<br>
        </p>
        <br>
        <p>
            Skilled in C++, HTML, GitHub, CSS, Bootstrap, ReactJs, Python, MongoDb, NodeJs, Vanilla JS, Express and MySQL
        </p>
    </div>
</div>