<div id="connect">
    <div class="headings inria">Connect</div>
    <form class="istok">
        <label class="inria" for="name">Your name:</label>
        <input type="text" name="name" id="name" placeholder="Navya Dahiya" required>
        <label class="inria" for="email">Your Email:</label>
        <input type="email" name="email" id="email" placeholder="d.navya2312@gmail.com" required>
        <label class="inria" for="summary">For a more informed response from my side tell me about yourself (Optional)</label>
        <textarea class="istok" name="summary" id="summary" placeholder="Let's connect and keep in touch, shall we?"></textarea>
        <div class="submit"><button class="inria">Submit</button></div>
    </form>
</div>
</form>
