<footer>
  <div class="copyright istok">
    Made with ❤ &copy; Navya Dahiya
  </div>
  <div class="social inria">
    <a href="mailto: d.navya2312@gmail.com">Email</a>
    <a href="https://www.linkedin.com/feed/">LinkedIn</a>
    <a href="https://github.com/dahiya-code">GitHub</a>
  </div>
</footer>