<nav class="inria">
    <div class="site-title">
      <h1>ND</h1>
      <p>Navya Dahiya's Portfolio Site</p>
    </div>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#connect">Connect</a></li>
    </ul>
</nav>