@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
html {
    position: relative;
    min-height: 100%;
}
p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.inria{
    font-family: 'Inria Serif', serif;
}
.istok{
    font-family: 'Istok Web', sans-serif;
}
body{
    margin: auto;
    height:100%;
    background-color: #ffffff;
    color:#000000;
}
footer, nav{
    background-color: #474747;
    color: #ffffff;
}
footer{
    font-size: 15px;
    margin-bottom: auto;
    overflow: auto;
	width: 100%;
    padding: 5px 0;
}
footer a{
    margin: auto;
    color: #ffffff;
    padding-right: 15px;
}
.copyright {
    float:left;
    text-align: left;
}
.social {
    float:right;
    text-align: right;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    list-style-type: none;
    margin-right: 20px;
}
nav h1, nav p{
    margin-left: 20px;
    font-size: 3em;
}
nav p, nav a{
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
}
.headings{
    margin-top: 20px;
    text-align: center;
    font-size: 3em;
}
.card{
    background-color: #afafaf;
    border-radius: 15px;
    margin: 15px;
    padding: 15px;
}
